#root {
  max-width: 1280px;
  margin: 0 auto;
  --primary-color: #003F5F;
  --secondary-color: #e0e0e0;
  --button-color: #001242;
}

body {
  background-color: var(--primary-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 720px;
  margin: 50px auto;
  background-color: var(--secondary-color) ;
  border-radius: 8px;
  padding: 20px;
}

form button {
  background-color: var(--primary-color);
  border: none;
  color: #FFF;
  font-size: 18px;
  height: 50px;
  cursor: pointer;
  font-weight: 700;
  border-radius: 8px;
  margin-top: 30px;
}

form button:hover {
  background-color: var(--button-color);
}

form input, form label, form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 18px;
  height: 40px;
  padding: 0 15px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

.imc, .imc2 {
  width: 300px;
}

.descricao {
  display: flex;
}

.resultado {
  border-radius: 8px;
  padding-inline: 15px;
  font-size: 16px;
}

.vermelho {
  background-color: #b87575;
  color: #8a2222;
}

.verde {
  background-color: rgb(209,231,221) !important;
  color: rgb(25,135,84) !important;
}

.contagem-tarefas, .tarefas-concluidas {
  width: 300px;
  height: 80px;
  border-radius: 6px;
  font-size: larger;
  padding-inline-start: 15px;
  padding-block-start: 5px;
}

.contagem-tarefas {
  background-color: rgb(162, 181, 240);
}

.tarefas-concluidas {
  background-color: rgb(89, 208, 153) ;
}

.row2 {
  display: flex;
  justify-content: space-between;

}